*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background-color: white;
}
.container{
    background-color: skyblue;
    width: 530px;
    padding: 95px;
    margin: 63px auto ;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.container h2{
    font-size: 24px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}
.form-container .btn{
    margin-top: 10px;
    width: 100%;
    padding: 8px 0px 8px 2px;
    background-color: grey;
    border-radius: 10px;
    font-size: 18px;
}
.form-container .btn a{
    text-decoration: none;
    color: white;
}